<nav class="navbar">
         
    <div class="container-fluid">
        
    <div class="icon imge"></div>

    <div class="icon">Executive Dashboard</div>
      <a class="d-flex">
       <i class="fa-solid fa-gear"></i>
        <i class="fa-solid fa-circle-user"></i>
      </a>
    </div>
  </nav>
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3" style="margin-top: -40px;">
        <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
        >
        <i class="fa fa-bars fa-fw me-3" aria-hidden="true" ></i>
        </a>
           <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-line fa-fw me-3  mt-4"></i></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-users fa-fw me-3 mt-4"></i></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-money-bill fa-fw me-3 mt-4"></i></a
        >
      </div>
    </div>
  </nav>
  <div>
      <label class="t1">Tasks Distribution</label>
      <label class="t2">Tasks by Beinex Sectors</label>
      <label class="t3">Tasks by Auraa</label>

  </div>

  <div class="iconn image">
    <label><div class="iconns images"></div>
    </label>
    <!-- <label><div class="iconnss imagess"></div>
    </label> -->

  </div>
  